# Videos
*.mp4

# Images
*.png

# Models
*.pt

# CSV outputs
*_trajectory*.csv

# Generated folders
Video_*/
p_*/

# Output folders
output_*/
badminton_*/
results_*/
logs_*/
temp_*/

# Python cache
__pycache__/
*.pyc